header {
    height: 100px;
    background: #c0392b;
    color: bisque;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: 0 2px 4px #5a5763;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

.app-logo {
    /*margin-right: auto;*/
    text-align: center;
    transition: 0s;
    -webkit-box-flex: 0;
    flex: 0;
    padding: 0 40px;
    align-self: stretch;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.app-logo > a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.icon-nav-palette {
    width: 80px;
    height: 80px;
    pointer-events: none;
    fill: #c0392b;
    stroke-width: 2;
    stroke: #c0392b;
}

.logo-name {
    width: 140px;
    margin-left: 10px;
}

.icon-search, .icon-logo-text {
    fill: #fff;
    height: 18px;
    width: 18px;
    top: 2px;
    position: relative;
}

.icon-logo {
    fill: #fff;
    margin: 0 .5rem 0 0;
    height: 50px;
    width: 50px;
}

.icon-logo-text {
    height: 24px;
    width: 120px;
}

.menu {
    margin-left: auto;
}

.item {
    padding: 20px;
    display: inline-block;
    transition: .3s;
}

.item:hover {
    background-color: #34333A;
    background: linear-gradient(to bottom,#3B3941,#2A292F);
    /* border-top: 1px solid #4F4D55; */
    box-shadow: 0 1px 3px #16151B;
}

#input-search-art {
    border: none;
    background: none;
    outline: none;
    padding: 0 0 0 0;
    width: 0;
    border-radius: 10px;
    transition: 0.4s;
}

.search:hover > #input-search-art {
    width: 200px;
    background-color: white;
    padding-left: 10px;
}

@media (max-width: 976px) {
    .search:hover > #input-search-art {
        width: 200px;
    }
    .app-logo {
        padding: 0 0 0 30px;
    }
}

@media (max-width: 976px) {
    .search:hover > #input-search-art {
        width: 180px;
    }
    .app-logo {
        padding: 0 0 0 20px;
    }
}

@media (max-width: 870px) {
    .search:hover > #input-search-art {
        width: 300px;
    }
    .search {
        width: 388px;
    }
    header {
        height: 200px;
    }
    .menu {
        margin-left: 160px;
    }
}

@media (max-width: 810px) {
    .menu {
        margin-top: 10px;
        margin-left: 5%;
    }
}

@media (max-width: 674px) {
    header {
        display: block;
    }
    .menu {
        margin-left: 1%;
    }
    .logo-name {
        width: 210px;
    }
    .item {
        padding: 20px 50px;
    }
    .search {
        width: 628px;
    }
}

@media (max-width: 648px) {
    .item {
        padding: 20px 40px;
    }
    .search {
        width: 548px;
    }
}

@media (max-width: 568px) {
    .item {
        padding: 20px 30px;
    }
    .search {
        width: 468px;
    }
}

@media (max-width: 488px) {
    .item {
        padding: 20px 20px;
    }
    .search {
        width: 388px;
    }
}

@media (max-width: 375px) {
    .item {
        padding: 20px 15px;
    }
    .search {
        width: 248px;
    }
}

@media (max-width: 320px) {
    .item {
        padding: 20px 10px;
    }
    .search {
        width: 198px;
    }
}