.fog-frame-x {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgba(112, 119, 119, 0.7);
    transition: all 1.5s;
}

.fog-frame-x section {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #999;
    box-shadow: 0 0 20px #111; 
    -moz-box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;
}

.fog-frame-x .frame {
    border-radius: 5px;
    background: whitesmoke;
    font-family: 'Sarala', sans-serif;
}

.fog-frame-x .photo {
    border: 10px solid whitesmoke;
}

.box-close-x {
    position: absolute;
    top: -20px;
    right: -28px;
    cursor: pointer;
    z-index: 100;
}

.icon-close-x {
    fill: #c0392b;
    background: whitesmoke;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

/*******************************************************************************/

/*** Contents ***/

#piece-info {
    width: 350px;
    height: 350px;
    padding: 30px;
}
