#legal {
    width: 500px;
    height: 600px;
    padding: 30px;
    overflow-x: auto;
    font-size: smaller;
}
}

#legal h3 {
    padding: 0 0 5px;
    color: #111;
    border-bottom: 1px solid #111;
}

#legal div.contract {
    padding: 5px 10px;
}

#legal div.contract p{
    margin-bottom: 100px;
    font-size: 14px;
    color: #555555;
    line-height: 1.6;
    letter-spacing: .25px;
    text-align: justify;
}

#legal a {
    color:#c0392b;
}