#available-list-of-pieces h3 {
    padding: 0 0 5px;
    color: #111;
}

.list-item-row {
    color: white;
    padding: 10px;
    opacity: 0.9;
}

.odd {
    background: linear-gradient(to bottom,#e74c3c,#c0392b);
}

.pair {
    background: linear-gradient(to bottom,#3B3941,#2A292F);
}