#available-list-of-pieces h3 {
    padding: 0 0 5px;
    color: #111;
    word-spacing: 6px;
}

.list-item-row {
    color: white;
    padding: 8px 10px;
    opacity: 0.9;
    background: linear-gradient(to bottom,#3B3941,#2A292F);
}

.list-item-row:nth-last-of-type(2n) {
    background: linear-gradient(to bottom,#e74c3c,#c0392b);
}

#available-list-of-pieces {
    width: 900px;
    height: 600px;
    padding: 20px;
    overflow: scroll;
}

#a-piece-name {
    width: 80%;
    display: inline-block;
}

#a-artist {
    display: inline;  
}