#login-frame {
    padding: 20px 100px 1px;
}

#login-frame .title {
    padding: 10px 0!important;
    box-shadow: 0 1px 0 0 #3d3d3d;
    margin-bottom: 40px;
    
}
#login-frame .title h1 {
    font-weight: normal;
    font-size: 22px;
    margin: 20px 2px 0 2px;
}   

.row {
    margin-bottom: 30px;
    clear: right;
}

.row label {
    color: #5fcf80;
    width: 135px;
    display: inline-block;
}

.row label[for=msg-description] {
    position: relative;
    bottom: 188px;
}

.row input {
    width: 360px;
    height: 25px;
}

.row textarea {
    width: 360px;
    height: 200px;
    resize: none;
}

.row p {
    margin-bottom: 10px;
}

.row textarea, .row input {
    color: #0b0b0e;
    outline: none;
    border-radius: 3px;
    padding: 2px 4px;
    border:1px solid #cccccc;
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.login-body {
    margin: 0 auto;
    width: 500px;
}

.login-body button {
    float: right;
    height: 30px;
    background: linear-gradient(to bottom,#e74c3c,#c0392b); 
    border-color: #e74c3c;
    color:whitesmoke;
    font-size: 14px;
    outline: none;
    border-radius: 3px;
}

#waiting-login-response {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#forgoteen-email {
    color: #e74c3c;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    font-size: smaller;
}

#forgoteen-email:hover {
    color: red;
    cursor: pointer;
}

.body-content {
    position: relative;
}

#message-label {
    color: white;
    height: 30px;
    width: 1px;
    border-radius: 3px;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.85s ease;
    position: absolute;
}
  
.show-fading {
    width: 100%!important;
    opacity: 1!important;
}

.req-sucess {
    background: #5fcf80;
}

.req-error {
    background: red;
}

@media (max-width: 1022px) {
    #login-frame {
        padding: 10px 50px;
    }
}

@media (max-width: 768px) {
    #social {
        top: 270px;
    }
}

@media (max-width: 660px) {
    #login-frame {
        padding: 10px 30px;
    }

    .login-body {
        width: 400px;
    }
    
    .row label[for=description] {
        position: static;
        bottom: 0;
    }

    .row input, .row textarea {
        width: 400px;
    }
    #social {
        top: 310px;
    }
}

@media (max-width: 575px) {
    #login-frame {
        padding: 10px 30px;
    }

    .login-body {
        width: 280px;
    }

    .row input, .row textarea {
        width: 280px;
    }
    #social {
        top: 320px;
    }
}

@media (max-width: 411px) {
    #login-frame {
        padding: 10px 20px;
    }

    .login-body {
        width: 250px;
    }

    .row input, .row textarea {
        width: 250px;
    }
    #social {
        top: 320px;
    }
}

@media (max-width: 375px) {
    #login-frame {
        padding: 10px 20px;
    }

    .login-body {
        width: 220px;
    }

    .row input, .row textarea {
        width: 220px;
    }
    #social {
        top: 320px;
    }
}

@media (max-width: 320px) {
    #login-frame {
        padding: 10px 10px;
    }

    .login-body {
        width: 180px;
    }

    .row input, .row textarea {
        width: 180px;
    }
}

@media (max-width: 240px) {
    #social {
        top: 200px;
    }
}