#picked-pieces h3 {
    padding: 0 0 5px;
    color: #111;
}

.pick-item-row {
    color: #c0392b;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

#update-picked {
    margin: 40px 5px;
    width: 100%;
}