#picked-pieces {
    width: 510px;
    height: 500px;
    padding: 20px;
    overflow-x: auto;
}

#picked-pieces h3 {
    padding: 0 0 5px;
    color: #111;
    border-bottom: 1px solid #111;
}

.pick-item-row {
    color: #c0392b;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    font-size: 0.8em;
    display: flex;
}

.attach_cart_item{
    width: 5%;
}

.attach_cart_item input {
    margin-left: 0px;
}

.cart_item_name{
    width: 300px;
    padding-right: 5px;
}

.origin_cart_item_price{
    width: 72px;
    padding-right: 5px;
    color: black;
}

.cart_item_price{
    width: 78px;
    padding-right: 5px;
}

.total {
    background: #c0392b;
    color: white;
    padding: 8px 20px;
}
