.label, .content {
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #bbbbbb;
}

#piece-info .row .label {
    width: 70px;
    text-align: right;
    margin-left: 10px;
}

#piece-info .row .content {
    width: 200px;
    text-align: left;
    margin-right: 10px;
}

#piece-info {
    width: 350px;
    padding: 30px;
}

/******************************************************************************************/

/*
.piece-photo {
    border: 10px solid white;
    width: 700px;
    height: 450px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px #111; 
    -moz-box-shadow: 0 0 20px #111;
    -webkit-box-shadow: 0 0 20px #111;
 }*/

 .piece-photo img {
    width: 100%;
    height: 100%;
 }

 @media (max-width: 375px) {
    #piece-info {
        width: 320px;
        height: 320px;
        font-size: 11px;
    }

    #piece-info .row .label {
        width: 60px;
        margin-left: 8px;
    }
    
    #piece-info .row .content {
        width: 180px;
        margin-right: 8px;
    }
}

@media (max-width: 320px) {
    #piece-info {
        width: 280px;
        height: 280px;
        font-size: 10px;
    }
    #piece-info .row .label {
        width: 50px;
        margin-left: 5px;
    }
    
    #piece-info .row .content {
        width: 160px;
        margin-right: 5px;
    }
}