*, :after, :before {
    box-sizing: border-box;
}

html {
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    padding: 0;
    margin: 0;
}

:not(svg) {
    transform-origin: 0px 0px;
}

svg:not(:root) {
    overflow: hidden;
}

.frame-gallery {
    background-color: #34333A;
    background: linear-gradient(to bottom,#3B3941,#2A292F);
    border-top: 1px solid #4F4D55;
    box-shadow: 0 1px 3px #16151B;
}