:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #08c;
    --secondary: #6c757d;
    --success: #47a447;
    --info: #5bc0de;
    --warning: #ed9c28;
    --danger: #d2322d;
    --light: #f8f9fa;
    --dark: #1d2127;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1160px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
/*font-size: 1rem;*/

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    padding: 0;
    margin: 0;
}

:not(svg) {
    transform-origin: 0px 0px;
}

svg:not(:root) {
    overflow: hidden;
}

.frame-gallery {
    background-color: #34333A;
    background: linear-gradient(to bottom,#3B3941,#2A292F);
    border-top: 1px solid #4F4D55;
    box-shadow: 0 1px 3px #16151B;
}