:root {
    --red1: #c0392b;
    --red2: #e74c3c;
    --sea: #5fcf80;
    --lightyellow: #ffffd1;
    --dark1: #09080d;
    --dark2: #111;
    --dark3: #16151B;
    --gray-dark1: #0c0b01;
    --gray-dark2: #2A292F;
    --gray-dark3: #34333A;
    --gray-dark4: #3d3d3d;
    --gray-dark5: #3B3941;
    --gray-dark6: #4F4D55;
    --gray-dark7: #7A797F;
    --gray-dark8: #98979E;
    --gray-dark9: #bbbbbb;
    --gray-dark10:#cccccc;

    --font-family-content: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    --font-family-interface: -system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    font-family: -system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

body {
    padding: 0;
    margin: 0;
}

:not(svg) {
    transform-origin: 0px 0px;
}

svg:not(:root) {
    overflow: hidden;
}

.frame-gallery {
    background-color: #34333A;
    background: linear-gradient(to bottom,#3B3941,#2A292F);
    border-top: 1px solid #4F4D55;
    box-shadow: 0 1px 3px #16151B;
}

#banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-top: 1px solid #4F4D55;
    box-shadow: 3px 5px 11px #16151B;
}

.banner-main {
    background-image: url('/images/banner.png');
}

.banner-learn {
    background-image: url('/images/banner-lot.jpg');
}

.banner-write {
    background-image: url('/images/banner.jpg');
}

pre {
    border: 1px solid var(--gray-dark9);
    background: var(--lightyellow);
}