.body-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.title {
    margin: 10px 2px 0 2px;
    border-bottom: 1px solid #09080d;
    overflow: hidden;
    display: none;
    text-align: left;
    text-transform: uppercase;
    word-spacing: 10px;
}

.thumbs-content {
    padding-top: 6px;
    overflow: hidden;
    padding-bottom: 5px;
}

.thumb-col {
    width: 334px;
    float: left;
}

/*thumbs*/

.thumb {
    text-align: left;
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
    margin: 4px 2px 0 2px;
}

.thumb-pic {
    background-color: transparent;
    color: #7A797F;
    padding: 1px;
    overflow: hidden;
}

.thumb-pic img {
    max-width: 100%;
    height: 230px;
    object-fit: contain;
    margin: 0 auto;
    display: block;
}

.sale-image {
    position: absolute;
}

/*thumb title*/

.thumb .description {
    display: block;
    font-size: 12px;
    margin: 10px 5px 0 5px;
    line-height: 15px;
    height: 15px;
    color: white;
}

.description {
    margin-right: 0 !important;
}

.pieceName {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.piece-info-button {
    float: right;
    background: linear-gradient(to bottom,#e74c3c,#c0392b);
    color: #0c0b01;
    border-color: #e74c3c;
    color:#0c0b01;
    outline: none;
}

.thumb-checkbox {
    position: absolute;
    transform: scale(1.5);
}

.thumb-checkbox:focus {
    outline: 0;
}

/*------------------------------------------------------------------------*/

@media (min-width: 1022px) {
    .body-content {
        width: 1002px;
    }
}

@media (max-width: 1022px) {
    .thumb-col {
        width: 33%;
    }
}

@media (max-width: 760px) {
    .thumb-col {
        width: 49%;
    }
}

@media (max-width: 450px) {
    .thumb-col {
        width: 99%;
    }
    .thumbs-content {
        margin: 0 9%;
    }
}

