<div style="border-top: 1px solid rgb(199, 198, 198);border-bottom: 1px solid rgb(199, 198, 198); padding:5px;">
    <p>Hi {{first_name}} {{last_name}},</p>
    <br/>
    <p>This is an email to activate your account, please click in the button or copy the link below.</p>
    <br/>
    <br/>
    <p>
        <a style="text-decoration:none;
        cursor:pointer;
        color:white;
        padding:10px;
        background:#00B7FF;
        box-shadow:#00B7FF 2px 2px 20px 0px;" 
        href="http://localhost:3000/register/activation/{{activationCode}}">Active Account</a>
    </p>
    <br/>
    <br/>
    <p>Activation Link: http://localhost:3000/register/activation/{{activationCode}}</p>
    <br/>
</div>