<div style="border-top: 1px solid rgb(199, 198, 198);border-bottom: 1px solid rgb(199, 198, 198); padding:5px;">
    <p>Grettings {{first_name}} {{last_name}},</p>
    <br/>
    <p>This is an email contains a link to process a new password, please click in the button or copy the link below.</p>
    <br/>
    <br/>
    <p>
        <a style="text-decoration:none;
        cursor:pointer;
        color:white;
        padding:10px;
        background:#00B7FF;
        box-shadow:#00B7FF 2px 2px 20px 0px;" 
        href="{{appHost}}/login/change-password/{{codeRequest}}">Change password</a>
    </p>
    <br/>
    <br/>
    <p>Change password Link: {{appHost}}/login/change-password/{{codeRequest}}</p>
    <br/>
</div>