<div style="border-top: 1px solid rgb(199, 198, 198);border-bottom: 1px solid rgb(199, 198, 198); padding:5px;">
    <h4>Sucessfully password change {{completeName}}!</h4>
    <br/>
    <h4>Current username: {{username}}</h4>
    <h4>Your new password is: {{password}}</h4>
    <br/>
    <br/>
    <p>
        <a style="text-decoration:none;
        cursor:pointer;
        color:white;
        padding:10px;
        background:#14c248;
        box-shadow:#14c248 2px 2px 20px 0px;" 
        href="http://localhost:3000/login">Go to Login</a>
    </p>
    <br/>
    <br/>
    <p>Login link: http://localhost:3000/login</p>
    <br/>
</div>