<div style="border-top: 1px solid rgb(199, 198, 198);border-bottom: 1px solid rgb(199, 198, 198); padding:5px;">
    <h6>Congratulations and Welcome {{first_name}} {{last_name}} !!</h6>
    <br/>
    <h6>Your account has been activated</h6>
    <h6>Now are you able to buy art pieces listed in our website.</h6>
    <h6>Thank you for your time and happy hunting.</h6>
    <br/>
    <br/>
    <p>
        <a style="text-decoration:none;
        cursor:pointer;
        color:white;
        padding:10px;
        background:#14c248;
        box-shadow:#14c248 2px 2px 20px 0px;" 
        href="{{appHost}}/login">Go to Login</a>
    </p>
    <br/>
    <br/>
    <p>Login link: {{appHost}}/login</p>
    <br/>
</div>