.git
.gitignore
.dockerignore
Dockerfile
node_modules
node_modules/
admin/.dockerignore
admin/Dockerfile
admin/node_modules
gallery/.dockerignore
gallery/Dockerfile
gallery/node_modules
galleryJWT/.dockerignore
galleryJWT/Dockerfile
galleryJWT/node_modules
galleryPicturesProvider/.dockerignore
galleryPicturesProvider/Dockerfile
galleryPicturesProvider/node_modules
gscripts/.dockerignore
gscripts/Dockerfile
gscripts/node_modules