<section id="contents-body-documents">
    <div class="search-bar">
        <input type="text" placeholder="Type search here">
        <i class="fas fa-search"></i>
    </div>
    <h2><%= title %></h2>
    <article id="documents-form">
        <div class="documents-row">
            <div class="documents-item">
                <label for="thumb01">thumb01</label>
            </div>
            <div class="documents-item">
                <label for="thumb02">thumb02</label>
            </div>
            <div class="documents-item">
                <label for="thumb03">thumb03</label>
            </div>
            <div class="documents-item">
                <label for="thumb04">thumb04</label>
            </div>
            <div class="documents-item">
                <label for="thumb05">thumb05</label>
            </div>
        </div>
        <div class="documents-row">
            <div class="documents-item">
                <label for="thumb06">thumb06</label>
            </div>
            <div class="documents-item">
                <label for="thumb07">thumb07</label>
            </div>
            <div class="documents-item">
                <label for="thumb08">thumb08</label>
            </div>
            <div class="documents-item">
                <label for="thumb09">thumb09</label>
            </div>
            <div class="documents-item">
                <label for="thumb010">thumb010</label>
            </div>
        </div>
        <div class="documents-row">
            <div class="documents-item">
                <label for="thumb011">thumb011</label>
            </div>
        </div>
    </article>

</section>