<article id="messages-form">
    <div class="messages-row">
        <div class="wrapper">
            <h3>Message 01</h3>
            <textarea rows="4" cols="80" readonly>This is a message for testing...</textarea>
            <span>Rodrigo Smith</span>
        </div>
    </div>
    <div class="messages-row">
        <div class="wrapper">
            <h3>Message 02</h3>
            <textarea rows="4" cols="80" readonly>This is a message for testing...</textarea>
            <span>Eva Doe</span>
        </div>
    </div>
    <div class="messages-row">
        <div class="wrapper">
            <h3>Message 03</h3>
            <textarea rows="4" cols="80" readonly>This is a message for testing...</textarea>
            <span>Ramiro Ortiz</span>
        </div>
    </div>
    <div class="messages-row">
        <div class="wrapper">
            <h3>Message 04</h3>
            <textarea rows="4" cols="80" readonly>This is a message for testing...</textarea>
            <span>Lizz Christie</span>
        </div>
    </div>
    <div class="messages-row">
        <div class="wrapper">
            <h3>Message 05</h3>
            <textarea rows="4" cols="80" readonly>This is a message for testing...</textarea>
            <span>Simone Reyes</span>
        </div>
    </div>
</article>