<div class="dash-plenty">
    <% include ./dashboard/profit-dashboard %>
    <% include ./dashboard/profit-months-dashboard %>
</div>

<% include ./dashboard/users-country-dashboard %>

<% include ./dashboard/users-list-dashboard %>

<% include ./dashboard/pieces-year-dashboard %>
