<section id="contents-body-configuration">
    <div class="search-bar">
        <input type="text" placeholder="Type search here">
        <i class="fas fa-search"></i>
    </div>
    <h2><%= title %></h2>
    <article id="configuration-form">
        <div class="configuration-row">
            <div class="configuration-item">
                <label for="titlepage">Title App Page</label>
                <div class="option-wrapper">
                    <input id="titlepage" type="text" size="8"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="includephoto">Include admin profile photo</label>
                <div class="option-wrapper">
                    <input id="includephoto" type="checkbox"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="emailuser">Send user msg email back</label>
                <div class="option-wrapper">
                    <input id="emailuser" type="checkbox"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="showbanner">Show banner</label>
                <div class="option-wrapper">
                    <input id="showbanner" type="checkbox"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="showtags">Show tags</label>
                <div class="option-wrapper">
                    <input id="showtags" type="checkbox"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="countnousers">Count no-user views</label>
                <div class="option-wrapper">
                    <input id="countnousers" type="checkbox"/>
                </div>
            </div>
        </div>
        <div class="configuration-row">
            <div class="configuration-item">
                <label for="thumbsby">Show thumbs by</label>
                <div class="option-wrapper">
                    <select name="thumbsby" id="thumbsby">
                        <option value="year">Year</option> 
                        <option value="daterelease" selected>Date release</option>
                        <option value="view">Most view</option>
                    </select>
                </div>
            </div>
            <div class="configuration-item">
                <label for="countsocial">Count Social visited</label>
                <div class="option-wrapper">
                    <input name="countsocial" type="radio" value="yes"/><span>Yes</span>
                    <input name="countsocial" type="radio" value="no" checked/><span>No</span>
                </div>
            </div>
            <div class="configuration-item">
                <label for="search">Search on Date</label>
                <div class="option-wrapper">
                    <input id="search" type="checkbox"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="usernameheader">Show username at header</label>
                <div class="option-wrapper">
                    <input id="usernameheader" type="checkbox"/>
                </div>
            </div>
            <div class="configuration-item">
                <label for="pieceyear">Show year at piece info</label>
                <div class="option-wrapper">
                    <input id="pieceyear" type="checkbox"/>
                </div>
            </div>
        </div>
    </article>
</section>