<header>
    <nav id="movile">
        <ul>
            <li class="menu-item">
              <div class="burguer-menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </li>
        </ul>
    </nav>
    <div id="movile-vertical-menu">
        <ul>
            <li class="vertical-item">Home</li>
            <li class="vertical-item" status=' •'>Menu</li>
            <li class="vertical-item">Documents</li>
            <li class="vertical-item">Search</li>
        </ul>
    </div>
    <nav id="left">
        <ul>
            <li class="item">Home</li>
            <li class="item" status=' •'>Menu</li>
            <li class="item">Documents</li>
            <li class="item">Search</li>
        </ul>
    </nav>
    <nav id="right">
        <ul class="icons-menu">
            <li class="icon-item"><i class="fa fa-user"></i></li>
            <li class="icon-item"><i class="fa fa-envelope-open"></i><div id="unread-messages-count">3</div></li>
            <li class="icon-item"><i class="fa fa-cogs"></i></li>
            <li id="logout" class="icon-item"><i class="fas fa-sign-out-alt"></i></li>
        </ul>
    </nav>
</header>