<aside>
    <div class="block" id="users">
        <a href="#">
            <i class="fas fa-users fa-3x"></i>
            <span>Users</span>
        </a>
    </div>
    <div class="sidebar-menu" id="sidebar-users">
        <ul>
            <li>
                <a href="/users/admin/">
                    <i class="fas fa-atlas"></i>
                    <span>Admin</span>
                </a>
                <a href="/users/">
                    <i class="fas fa-atlas"></i>
                    <span>User</span>
                </a>
                <a href="/users/new/">
                    <i class="fas fa-atlas"></i>
                    <span>New User</span>
                </a>
                <a href="/users/admin/new/">
                    <i class="fas fa-atlas"></i>
                    <span>New Admin</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="block" id="pieces">
        <a href="#">
            <i class="fas fa-palette fa-3x"></i>
            <span>Pieces</span>
        </a>
    </div>
    <div class="sidebar-menu" id="sidebar-pieces">
        <ul>
            <li>
                <a href="/pieces/">
                    <i class="fas fa-atlas"></i>
                    <span>List</span>
                </a>
                <a href="/pieces/add">
                    <i class="fas fa-atlas"></i>
                    <span>New</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="block" id="cart">
        <a href="#">
            <i class="fas fa-shopping-cart fa-3x"></i>
            <span>Carts</span>
        </a>
    </div>
    <div class="sidebar-menu" id="sidebar-cart">
        <ul>
            <li>
                <a href="/carts/">
                    <i class="fas fa-atlas"></i>
                    <span>List</span>
                </a>
                <a href="/carts/statistics/">
                    <i class="fas fa-atlas"></i>
                    <span>Statistics</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="block" id="category">
        <a href="#">
            <i class="fas fa-atlas fa-3x"></i>
            <span>Categories</span>
        </a>
    </div>
    <div class="sidebar-menu" id="sidebar-category">
        <ul>
            <li>
                <a href="/categories/">
                    <i class="fas fa-atlas"></i>
                    <span>List</span>
                </a>
                <a href="/categories/add/">
                    <i class="fas fa-atlas"></i>
                    <span>Add</span>
                </a>
            </li>
        </ul>
    </div>
</aside>