<div class="dark-wrap">
    <div class="wrap">
        <h2>Categories</h2>
        <div class="list cats-list">
            <% categories.forEach(categoryGroup => { %>
            <div class="list-col">
                <ul>
                    <% categoryGroup.forEach( category => { %>
                        <li>
                            <a href="/category/<%= category.path %>">
                                <%= category.name %>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <% }); %>
        </div>
    </div>
</div>
