<footer class="footer-wrap">
    <div class="footer-menu">
        <span><a href="/">Home</a></span> |
        <span><a id="open-logout-footer">Logout</a></span> |
        <span></span><a href="/bought/">Bought</a></span> |
        <span><a href="/learning/">Learning</a></span> |
        <span><a href="/write-us/">Write Us</a></span>
    </div>
    <div class="footer">
        <p>Don't forget to stay tooned (press Ctrl + D) news on working for <span>ART shopping</span>, comming soon!<br><br>2019 © <span>Arts and Passion</span>. All Rights Reserved. WARNING : ART shooping website doesn't set the prices pieces, insted the artist. Please suscribe to our podcast to be updated ! <a href="#" onclick="JavaScript:window.location='mailto:admin@artshooping.com'">Contact us</a><br>All the pictures showing on the website are similar or equal to the offers by the artist. None is a copy unless you ask for it to the artist. Please be aware if someone is saling copy art pieces out of our lists  
            , we are not responsible if you trade outside of our online service.</p>
    </div>
</footer>