<div class="fog-frame-x" id="piece-form">
    <section class="frame">
        <div id="piece-info">
            <div class="row">
                <div class="label">Name:</div><div class="content" id="pieceName"></div>
            </div>
            <div class="row">
                <div class="label">Artist:</div><div class="content" id="pieceArtist"></div>
            </div>
            <div class="row">
                <div class="label">Type:</div><div class="content" id="pieceType"></div>
            </div>
            <div class="row">
                <div class="label">Date:</div><div class="content" id="pieceDate"></div>
            </div>
            <div class="row">
                <div class="label">Size:</div><div class="content" id="pieceSize"></div>
            </div>
            <div class="row">
                <div class="label">Price:</div><div class="content" id="piecePrice"></div>
            </div>
        </div>
    </section>
    </div>

<div class="fog-frame-x" id="piece-maximized">
<section class="photo">
    <img id="photo-image" src="http://picsum.photos/400/200">
</section>
</div>

<div class="fog-frame-x" id="list">
<section class="frame">
    <div id="available-list-of-pieces">
        <h3>All available pieces</h3>
        <div class="list-item-row odd">The Sibling Exploring</div>
        <div class="list-item-row pair">Lorem ipsum dolor sit amet.</div>
        <div class="list-item-row odd">Lorem ipsum dolor sit.</div>
        <div class="list-item-row pair">Lorem, ipsum dolor.</div>
        <div class="list-item-row odd">Stradd - cifi</div>
        <div class="list-item-row pair">Lorem, ipsum</div>
        <div class="list-item-row odd">notorious</div>
        <div class="list-item-row pair">table</div>
        <div class="list-item-row odd">Add with some apples</div>
        <div class="list-item-row pair">cactus</div>
        <div class="list-item-row odd">altiplano</div>
        <div class="list-item-row pair">robore-X</div>
    </div>
</section>
</div>

<div class="fog-frame-x" id="cart-picking">
<section class="frame">
    <div id="picked-pieces">
        <h3>In-cart pieces</h3>
        <div class="pick-item-row"><input type="checkbox" id="2341" checked>The Sibling Exploring</div>
        <div class="pick-item-row"><input type="checkbox" id="341" checked>Lorem ipsum dolor sit amet.</div>
        <div class="pick-item-row"><input type="checkbox" id="5300" checked>Lorem, ipsum dolor.</div>
        <div class="pick-item-row"><input type="checkbox" id="341" checked>Stradd - cifi</div>
        <div class="pick-item-row"><input type="checkbox" id="2322" checked>Lorem, ipsum</div>
        <div class="pick-item-row"><input type="checkbox" id="211" checked>Add with some apples</div>
        <div class="pick-item-row"><input type="checkbox" id="351" checked>Cactus</div>
        <div class="pick-item-row"><input type="checkbox" id="71" checked>Robore-X</div>
        <button id="update-picked">Update</button>
    </div>
</section>
</div>