<div class="fog-frame-x" id="logout-frame">
    <section class="frame">
        <div id="logout-frame">
            <h3>Logout</h3>
            <p>You are about to leave you session, logout?</p>
            <div id="buttons">
                <button id="logout-yes">Yes</button>
                <button id="logout-no">No</button>
            </div>
        </div>
    </section>
</div>