<div class="app-logo">
    <a href="/">
        <svg class="icon-logo" width="35px" height="35px">
            <use xlink:href="#icon-nav-palette"></use>
        </svg>
        <span class="logo-name"><%= global.options.TITLE_APP || 'Art Gallery Shopping' %></span>
    </a>
</div>
<nav class="menu">
    <a href="/register/"><div class="item" id="register">Signin</div></a>
    <a href="/login/"><div class="item" id="login">Login</div></a>
    <a href="/learning/"><div class="item">Learning</div></a>
    <a href="/write-us/"><div class="item">Write Us</div></a>
    <div class="item search">
        <input id="input-search-art" type="search" placeholder="Enter your searching here"/>
        <a id="input-search-art-anchor">
            <svg class="icon-search">
                <use xlink:href="#icon-search"></use>
            </svg>
        </a>
    </div>
</nav>