<div class="app-logo">
    <a href="/">
        <svg class="icon-logo" width="35px" height="35px">
            <use xlink:href="#icon-nav-palette"></use>
        </svg>
        <span class="logo-name">ART GALLERY SHOPPING</span>
    </a>
    <div id="logged-user" class="<%= currentUser.userExtId ? 'valid-user' : '' %>">Hi <a href="mailto:<%= currentUser.email %>"><%= currentUser.name %></a></div>
</div>
<nav class="menu">
    <div 
        class="item" id="open-logout"><a>Logout</a></div><div 
        class="item" id="open-picked"><a>My cart</a></div><div 
        class="item" id="open-list"><a>List</a></div><div 
        class="item" id="register"><a href="/bought/">Bought</a></div><div 
        class="item"><a href="/learning/">Learning</a></div><div 
        class="item"><a href="/write-us/">Write Us</a></div><div 
        class="item search">
            <input id="input-search-art" type="search" placeholder="Enter your searching here"/>
            <a id="input-search-art-anchor">
                <svg class="icon-search">
                    <use xlink:href="#icon-search"></use>
                </svg>
            </a>
        </div>
</nav>
<script src="https://www.paypal.com/sdk/js?client-id=<%= process.env.SB_CLIENT_ID %>"></script>