<div id="social">
    <div class="social-hidden"></div>
    <div class="icons-social-menu">
        <a href="https://www.facebook.com/" target="_blank"><div class="social-item fb"><img src="/images/fb.png"></div></a>
        <a href="https://www.instagram.com/" target="_blank"><div class="social-item inst"><img src="/images/inst.png"></div></a>
        <a href="https://twitter.com/" target="_blank"><div class="social-item tw"><img src="/images/tw.png"></div></a>
    </div>
</div>