.editcard {
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.editcard-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.editcard-title {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.rowform {
    position: relative;
    margin-bottom: 10px;
}

.rowform label {
    font-size: 12px;
    color: #70657b;
    margin-bottom: 4px;
}

.rowform input, .rowform select {
    border: initial;
    outline: initial !important;
    background: #f8f9fa;
    border: 1px solid #ced4da;
    color: #47404f;
    display: block;
    width: 96%;
    height: calc(1.9695rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.813rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.rowform select {
    width: 100%!important;
    height: calc(1.9695rem + 10px)!important;
}

.radio-group-item {
    display: flex;
}

.radio-group-item input[type=radio] {
    margin-top: 10px;
    height: 10px!important;
    width: 50px;
}

.radio-group-item span {
    margin-top: 8px;
}

.done_button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.813rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: royalblue;
    color: white;
}

.done_button:focus {
    text-decoration: none;
    background: white;
    color: royalblue;
}

.done_button:hover {
    outline: 0;
    box-shadow: 5px 7px 17px 0rem rgba(64, 104, 223, 0.5); 
}

#message-card {
    color: white;
    height: 15px;
    width: 1px;
    border-radius: 3px;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.85s ease;
}
  
.show-fading {
    height: 15px!important;
    width: 100%!important;
    opacity: 1!important;
}

.req-sucess {
    background: #82d404;
}

.req-error {
    background: red;
    color: white;
}