* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  align-items: center;
  height: 10vh;
  justify-content: space-between;
}

nav#movile {
  color:#00B7FF;
  flex-basis: 38px;
  display: none;
}

.burguer-menu{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 5px;
  background: #00B7FF;
  margin: 4px 0;
}

nav {
  height: 100%;
}

nav#left {
  color:#00B7FF;
  flex-basis: 65%;
}

nav#right {
  color:#00B7FF;
  flex-basis: 290px;
}

nav#left ul, nav#right ul {
  height: 100%;
  display: table
}

nav#left ul li, nav#right ul li {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: .3s;
  color: #00B7FF;
  background:transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

nav#left ul li {
  width: 100px;
}

nav#right ul li {
  width: 70px;
}

nav#left ul li.item:hover {
  background: #00B7FF;
  color:white;
}

li.icon-item:hover > i {
 color: royalblue;
}


.icon-item:nth-child(2) {
  position: relative;
}

#unread-messages-count {
  position: absolute;
  top: 3vh;
  right: 20px;
  border-radius: 30px;
  background: red;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
}

.content {
  display: flex;
  height: 85vh;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  position: relative;
}

aside {
  width: 117px;
  color: #00B7FF;
  background: transparent;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.block {
  width: 112px;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.block a {
  padding: 22px 0;
  display: block;
  color: #00B7FF;
  text-decoration: none;
}

.block a i {
  display: block;
  margin: 0 auto;
}

.block a i.fa-users {
  width: 52.5px;
}

.block a i.fa-palette {
  width: 42px;
}

.block a i.fa-shopping-cart {
  width: 47.25px;
}

.block a i.fa-atlas {
  width: 36.75px;
}

.block a span{
  display: block;
  text-align: center;
  margin-top: 5px;
}

.block:hover a {
  color: floralwhite;
  background: #00B7FF;
}

div#users:hover + #sidebar-users {
  display: block;
  top: 0;
}

#sidebar-users:hover {
  display:block;
  top: 0;
}

div#pieces:hover + #sidebar-pieces {
  display: block;
  top: 102px;
}

#sidebar-pieces:hover {
  display:block;
  top: 102px;
}

div#cart:hover + #sidebar-cart {
  display: block;
  top: 202px;
}

#sidebar-cart:hover {
  display: block;
  top: 202px;
}

div#category:hover + #sidebar-category {
  display: block;
  top: 302px;
}

#sidebar-category:hover {
  display: block;
  top: 302px;
}

.sidebar-menu {
  display: none;
  transition: .3s;
  position: absolute;
  top: 0px;
  left: 112px;
  width: 120px;
  height: 140px;
  background: white;
  padding: 25px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.sidebar-menu ul {
  list-style-type: none;
}

.sidebar-menu ul li a {
  color: #00B7FF;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.sidebar-menu ul li a span {
  margin-left: 10px;
}

section {
  width: 90%;
  padding: 2rem 2rem 0;
  color: royalblue;
  background: transparent;
  display: inline-block;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

article {
  margin-bottom: 10px;
}

tr:nth-of-type(2n) {
  background: cornflowerblue;
  color: white;
}

footer {
  height: 5vh;
  font-size: 12px;
  color: royalblue;
  position: relative;
}

footer p#stack-top-message {
  position: absolute;
  top: 12px;
  left: 12px;
}

@media (max-width: 768px) {
  nav#left {
      display:none;
  }
  nav#movile {
    display: block;
  }
  nav#movile ul li {
    padding: 20px 32px;
  }
}

@media (max-width: 510px) {
  section {
      overflow: scroll;
  }
  footer p#stack-top-message {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  * {
    font-size: 12px;
  }
  footer p#stack-top-message {
    font-size: 10px;
  } 
}

@media (max-width: 240px) {
  * {
    font-size: 11px;
  }
  nav#movile ul li {
    padding: 0 16px;
  }
  aside {
    width: 80px;
  }
  .block {
    height: 65px;
    width: 80px;
  }
  .block a {
    padding: 10px 0 0;
  }
  .sidebar-menu {
    left: 82px;
    width: 70px;
    height: 90px;
  }
  div#pieces:hover + #sidebar-pieces {
    display: block;
    top: 65px;
  }
  #sidebar-pieces:hover {
    display:block;
    top: 65px;
  }
  div#cart:hover + #sidebar-cart {
    display: block;
    top: 132px;
    z-index: 1000;
  }
  #sidebar-cart:hover {
    display: block;
    top: 132px;
    z-index: 1000;
  }
  div#category:hover + #sidebar-category {
    display: block;
    top: 198px;
    z-index: 1000;
  }
  #sidebar-category:hover {
    display: block;
    top: 198px;
    z-index: 1000;
  }
  .content {
    height: 82vh;
  }
  footer p#stack-top-message {
    top: 2px;
    left: 10px;
  }
}