* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  align-items: center;
  height: 10vh;
  justify-content: space-between;
}

nav#movile {
  flex-basis: 38px;
  display: none;
}

.burguer-menu{
  width: 28px;
  height: 22px;
  cursor: pointer;
  margin: 0 auto
}

.line {
  width: 100%;
  height: 3px;
  background: #00B7FF;
  margin: 4px 0;
}

#movile-vertical-menu {
  display: none;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 200px;
  height: 250px;
  z-index: 1000;
  background: white;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

#movile-vertical-menu  ul {
  list-style-type: none;
}

.vertical-item {
  font-size: 18px;
  font-weight: 500;
  color:#00B7FF;
  margin: 10px;
  padding: 10px 20px;
  user-select: none;
}

.vertical-item:hover {
  background: #00B7FF;
  color: white;
}

nav {
  height: 100%;
  color:#00B7FF;
}

nav#left {
  flex-basis: 65%;
}

nav#right {
  flex-basis: 290px;
}

nav#left ul, nav#right ul, nav#movile ul{
  height: 100%;
  display: table;
}

nav#movile ul{
  width: 110px;
}

nav#left ul li, nav#right ul li, nav#movile ul li {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transition: .3s;
  color: #00B7FF;
  background:transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

nav#left ul li {
  width: 100px;
  user-select: none;
}

nav#right ul li {
  width: 70px;
}

nav#left ul li.item:hover {
  background: #00B7FF;
  color:white;
}

li.icon-item:hover > i {
 color: royalblue;
}

nav#movile ul li:hover {
  background: #00B7FF;
}

nav#movile ul li:hover > .burguer-menu .line{
  background:white;
}

nav#movile:hover + #movile-vertical-menu{
  display: block;
}

#movile-vertical-menu:hover {
  display: block;
}

.icon-item:nth-child(2) {
  position: relative;
}

#unread-messages-count {
  position: absolute;
  top: 3vh;
  right: 20px;
  border-radius: 30px;
  background: red;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
}

.content {
  display: flex;
  height: 85vh;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
  position: relative;
}

aside {
  width: 117px;
  color: #00B7FF;
  background: transparent;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.block {
  width: 112px;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.block a {
  padding: 22px 0;
  display: block;
  color: #00B7FF;
  text-decoration: none;
}

.block a i {
  display: block;
  margin: 0 auto;
}

.block a i.fa-users {
  width: 52.5px;
}

.block a i.fa-palette {
  width: 42px;
}

.block a i.fa-shopping-cart {
  width: 47.25px;
}

.block a i.fa-atlas {
  width: 36.75px;
}

.block a span{
  display: block;
  text-align: center;
  margin-top: 5px;
}

.block:hover a {
  color: floralwhite;
  background: #00B7FF;
}

div#users:hover + #sidebar-users {
  display: block;
  top: 0;
  z-index: 1000;
}

#sidebar-users:hover {
  display:block;
  top: 0;
  z-index: 1000;
}

div#pieces:hover + #sidebar-pieces {
  display: block;
  top: 102px;
  z-index: 1000;
}

#sidebar-pieces:hover {
  display:block;
  top: 102px;
  z-index: 1000;
}

div#cart:hover + #sidebar-cart {
  display: block;
  top: 202px;
  z-index: 1000;
}

#sidebar-cart:hover {
  display: block;
  top: 202px;
  z-index: 1000;
}

div#category:hover + #sidebar-category {
  display: block;
  top: 302px;
  z-index: 1000;
}

#sidebar-category:hover {
  display: block;
  top: 302px;
  z-index: 1000;
}

.sidebar-menu {
  display: none;
  transition: .3s;
  position: absolute;
  top: 0px;
  left: 112px;
  width: 120px;
  height: 140px;
  background: white;
  padding: 25px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.sidebar-menu ul {
  list-style-type: none;
}

.sidebar-menu ul li a {
  color: #00B7FF;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.sidebar-menu ul li a span {
  margin-left: 10px;
}

.sidebar-menu ul li a:hover {
  background: #00B7FF;
  color: white;
}

section#contents-body {
  width: 90%;
  padding: 2rem 2rem 0;
  color: royalblue;
  background: transparent;
  display: inline-block;
  overflow: auto;
}

section#contents-body h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

article {
  margin-bottom: 10px;
}

#table-basis th {
  color: rgb(243, 243, 192);
  background: royalblue;
}

#table-basis tr:nth-of-type(2n) {
  background: cornflowerblue;
}

#table-basis tr:nth-of-type(2n) td {
  color: white;
}

footer {
  height: 5vh;
  font-size: 12px;
  color: royalblue;
  position: relative;
}

footer p#stack-top-message {
  position: absolute;
  top: 12px;
  left: 12px;
}

.item:nth-child(2):after, .vertical-item:nth-child(2):after {
  content: attr(status);
  font-weight: 900;
  color: #ff0000;
  user-select: none;
  text-shadow: 0px 0px 5px rgba(255, 0, 0, 1);
}

.search-bar {
  display: none;
  align-items: center;
  justify-content: left;
  background: #deebf8;
  border: 1px solid rgb(170, 201, 219);
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}

.search-bar input {
  background: transparent;
  border: 0;
  color: #686868;
  font-size: .8rem;
  line-height: 2;
  height: 100%;
  outline: initial;
  padding: .5rem 1rem;
  width: 95%;
}

@media (max-width: 768px) {
  nav#left {
      display:none;
  }
  nav#movile {
    display: block;
  }
}

@media (max-width: 510px) {
  section#contents-body {
      overflow: scroll;
  }
  footer p#stack-top-message {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  * {
    font-size: 12px;
  }
  footer p#stack-top-message {
    font-size: 10px;
  }
  nav#movile ul {
    width: 115px;
  }
  .burguer-menu{
    width: 26px;
    height: 20px;
    cursor: pointer;
    margin: 0 auto
  }
  .line {
    width: 100%;
    height: 2.5px;
    background: #00B7FF;
    margin: 3px 0;
  }
}

@media (max-width: 240px) {
  * {
    font-size: 11px;
  }
  nav#movile ul {
    width: 85px;
  }
  aside {
    width: 80px;
  }
  .block {
    height: 65px;
    width: 80px;
  }
  .block a {
    padding: 10px 0 0;
  }
  .sidebar-menu {
    left: 82px;
    width: 70px;
    height: 90px;
  }
  div#pieces:hover + #sidebar-pieces {
    display: block;
    top: 65px;
    z-index: 1000;
  }
  #sidebar-pieces:hover {
    display:block;
    top: 65px;
    z-index: 1000;
  }
  div#cart:hover + #sidebar-cart {
    display: block;
    top: 132px;
    z-index: 1000;
  }
  #sidebar-cart:hover {
    display: block;
    top: 132px;
    z-index: 1000;
  }
  div#category:hover + #sidebar-category {
    display: block;
    top: 198px;
    z-index: 1000;
  }
  #sidebar-category:hover {
    display: block;
    top: 198px;
    z-index: 1000;
  }
  .content {
    height: 82vh;
  }
  footer p#stack-top-message {
    top: 2px;
    left: 10px;
  }
}