#form-admin  {
    border-radius: 20px;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
    border: 0;
    padding: 10px;
    width: fit-content;
}

.form-initial {
    width: initial!important;
}

.row-dash {
    height: 30px;
    padding: 5px;
}

.row-dash span{
    width: 45%;
    display: inline-block;
    color: #2b686e;
}

.row-dash span:nth-child(even) {
    color: #2b686e;
}

.row-dash span:nth-child(odd) {
    color: #00B7FF;
}


.dash-right {
    float: right;
    width: 47%!important;
    height: fit-content;
}

.dash-plenty:after {
    content: '';
    display: block;
    clear: right;
}

.dash-left {
    float: left;
    width: 47%!important;
    height: fit-content;
}

.table-header {
    background-color: #00B7FF;
    color: white;
    font-size: 1.5em;
    padding: 1rem;
    text-align: left;
    text-transform: uppercase;
}

td img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.table-admin {
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 1em auto;
    overflow: hidden;
    width: auto;
}

table {
    width: 100%;
}

table td,
table th {
    color: #2b686e;
    padding: 10px;
}

table td {
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

table th {
    background-color: #daeff1;
    font-weight: 600;
}

table tr:nth-child(2n) {
    background-color: white;
}

table tr:nth-child(2n + 1) {
    background-color: #edf7f8;
}

.edition-options {
    width: 3em;
    height: 1em;
    position:relative;
}
/*
td.edition-options:before {
    content: '+';
    font-size: 22px;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    left: 4px;
    top: 0;
    border-radius: 3px;
    background-color:#61d89d;
    color:white;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
    cursor: pointer;
}

td.edition-options:hover:before {
    background-color:#76ffbb;
}

td.edition-options:after {
    content: '-';
    font-size: 22px;
    width: 1.2em;
    height: 1.2em;
    position:absolute;
    right:4px;
    top:0;
    border-radius: 3px;
    background-color:#e73f5b;
    color:white;
    box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
    cursor: pointer;
}

td.edition-options:hover:after {
    background-color:#ff4765;
}*/


@media screen and (max-width: 700px) {
    table,
    tr,
    td {
        display: block;
    }

    td:first-child {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 100px;
    }
    td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 90px;
        position: relative;
        text-align: left;
    }
    td:not(:first-child):before {
        color: #91ced4;
        content: "";
        display: block;
        left: 0;
        position: absolute;
    }
    tr {
        padding: 10px 0;
        position: relative;
    }
    tr:first-child {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .table-header {
        background-color: transparent;
        color: white;
        font-size: 2em;
        font-weight: 700;
        padding: 0;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    img {
        border: 3px solid;
        border-color: #daeff1;
        height: 100px;
        margin: 0.5rem 0;
        width: 100px;
    }

    td:first-child {
        background-color: #c8e7ea;
        border-bottom: 1px solid #91ced4;
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        width: 100%;
    }
    td:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
    }
    td:not(:first-child):before {
        font-size: 0.8em;
        padding-top: 0.3em;
        position: relative;
    }
    td:last-child {
        padding-bottom: 1rem !important;
    }

    tr {
        background-color: white !important;
        border: 1px solid #6cbec6;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
    }

    .table-users {
        border: none;
        box-shadow: none;
        overflow: visible;
    }
}
