<div class="title" <%= (typeof titlePage === 'string') ? 'style=display:block' : 'style=display:none' %>>
    <h1><%= (typeof titlePage !== 'undefined') ? titlePage : '' %></h1>
</div>

<div class="thumbs-content">
<p>TODO</p>
</div>

<div class="pages">
    <p>TODO BUTTONS</p>
</div>