<div class="title">
    <h1></h1>
</div>

<div class="thumbs-content">
    <div class="thumb-col">
        <div class="thumb frame-gallery" id="4b001a7">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200" alt="art 01"/>
            </div>
            <div class="description">The Sibling Exploring
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=1" alt="art 02"/>
            </div>
            <div class="description">Lorem ipsum dolor sit amet.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=2" alt="art 03"/>
            </div>
            <div class="description">Lorem ipsum dolor sit.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=3" alt="art 04"/>
            </div>
            <div class="description">Lorem, ipsum dolor.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=4" alt="art 05"/>
            </div>
            <div class="description">Lorem ipsum dolor sit.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=5" alt="art 06"/>
            </div>
            <div class="description">Lorem, ipsum.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=6" alt="art 07"/>
            </div>
            <div class="description">Lorem, ipsum dolor.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=7" alt="art 08"/>
            </div>
            <div class="description">Lorem, ipsum.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=8" alt="art 09"/>
            </div>
            <div class="description">Lorem ipsum dolor sit amet.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=9" alt="art 10"/>
            </div>
            <div class="description">Lorem ipsum dolor sit amet consectetur.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=10" alt="art 11"/>
            </div>
            <div class="description">Lorem, ipsum.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=11" alt="art 12"/>
            </div>
            <div class="description">Lorem, ipsum dolor.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=12" alt="art 13"/>
            </div>
            <div class="description">Lorem ipsum dolor sit.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=13" alt="art 14"/>
            </div>
            <div class="description">Lorem, ipsum dolor.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=14" alt="art 15"/>
            </div>
            <div class="description">Lorem ipsum dolor sit.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=15" alt="art 16"/>
            </div>
            <div class="description">Lorem ipsum dolor sit amet.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=16" alt="art 17"/>
            </div>
            <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>
    <div class="thumb-col">
        <div class="thumb frame-gallery">
            <div class="thumb-pic">
                <img src="http://picsum.photos/400/200?random=17" alt="art 18"/>
            </div>
            <div class="description">Lorem, ipsum dolor.
                <button class="piece-info-button">...</button>
            </div>
        </div>
    </div>    
</div>

<div class="pages">
    <ul>
        <li><a class="frame-gallery" target="_self" href="/page/1">1</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/2">2</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/3">3</a></li>
        <li><span class="frame-gallery">...</span></li>
        <li><a class="frame-gallery" target="_self" href="/page/10">10</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/11">11</a></li>
        <li><a class="frame-gallery" target="_self" href="/page/12">12</a></li>
    </ul>
</div>

<div class="dark-wrap">
    <div class="wrap">
        <h2>Categories</h2>
        <div class="list cats-list">
            <div class="list-col">
                <ul>
                    <li><a href="/category/realism/">Realism</a></li>
                    <li><a href="/category/hyperrealism/">Hyperrealism</a></li>
                    <li><a href="/category/surrealism/">Surrealism</a></li>
                    <li><a href="/category/impressionism/">Impressionism</a></li>
                    <li><a href="/category/expressionism/">Expressionism</a></li>
                    <li><a href="/category/abstract-art/">Abstract art</a></li>
                    <li><a href="/category/pop-art/">Pop Art</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/cubism/">Cubism</a></li>
                    <li><a href="/category/portrait/">Portrait</a></li>
                    <li><a href="/category/gender-painting/">Gender painting</a></li>
                    <li><a href="/category/landscape/">Landscape</a></li>
                    <li><a href="/category/still-life/">Still life</a></li>
                    <li><a href="/category/naked/">Naked</a></li>
                    <li><a href="/category/historical-painting/">Historical Painting</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/oil/">Oil</a></li>
                    <li><a href="/category/wax/">Wax</a></li>
                    <li><a href="/category/watercolor/">Watercolor</a></li>
                    <li><a href="/category/tempera/">Tempera</a></li>
                    <li><a href="/category/acrylic/">Acrylic</a></li>
                    <li><a href="/category/pie/">Pie</a></li>
                    <li><a href="/category/quenching/">Quenching</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/ink/">Ink</a></li>
                    <li><a href="/category/cool/">Cool</a></li>
                    <li><a href="/category/grisalea/">Grisalea</a></li>
                    <li><a href="/category/pointillism/">Pointillism</a></li>
                    <li><a href="/category/dripping/">Dripping</a></li>
                    <li><a href="/category/grafitti/">Grafitti</a></li>
                    <li><a href="/category/mixed-media/">Mixed media</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/on-wooden-board/">On wooden board</a></li>
                    <li><a href="/category/on-canvas/">On canvas</a></li>
                    <li><a href="/category/in-copper/">In copper</a></li>
                    <li><a href="/category/in-glass/">In glass</a></li>
                    <li><a href="/category/on-paper/">On paper</a></li>
                    <li><a href="/category/sculpture/">Sculpture</a></li>
                    <li><a href="/category/abstract-sculpture/">Abstract sculpture</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/relief/">Relief</a></li>
                    <li><a href="/category/color-relief/">Color relief</a></li>
                    <li><a href="/category/glass-relief/">Glass relief</a></li>
                    <li><a href="/category/contemporary/">Contemporary</a></li>
                    <li><a href="/category/round-bulk-statue/">Round Bulk Statue</a></li>
                    <li><a href="/category/low-relief/">Low relief</a></li>
                    <li><a href="/category/bust/">Bust</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/torso/">Torso</a></li>
                    <li><a href="/category/kinetic-sculpture/">Kinetic sculpture</a></li>
                    <li><a href="/category/chryselephantine/">Chryselephantine</a></li>
                    <li><a href="/category/architectural-sculpture/">Architectural sculpture</a></li>
                    <li><a href="/category/clay-sculpture/">Clay sculpture</a></li>
                    <li><a href="/category/stone-sculpture/">Stone sculpture</a></li>
                    <li><a href="/category/stucco-sculpture/">Stucco sculpture</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/metal-sculpture/">Metal sculpture</a></li>
                    <li><a href="/category/wood-sculpture/">Wood sculpture</a></li>
                    <li><a href="/category/ivory-Sculpture/">Ivory Sculpture</a></li>
                    <li><a href="/category/concrete-sculpture/">Concrete sculpture</a></li>
                    <li><a href="/category/emptying/">Emptying</a></li>
                    <li><a href="/category/removing/">Removing</a></li>
                    <li><a href="/category/adding/">Adding</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
