<section id="register-frame">
    <div class="title">
        <h1>Register</h1>
    </div>

    <div class="register-body">
        <form enctype="multipart/form-data" id="register-form" method="POST">
            <div class="row pic">
                <label for="user-photo">Photograpy:</label>
                <input id="user-photo" name="imgUploader" type="file" accept="image/png, image/jpeg"/>
                <div id="preview">
                    <img src="/images/user.svg" alt="">
                </div>
            </div>
            <div class="row">
                <label for="first_name">First Name:</label>
                <input id="first_name" name="first_name" type="text" placeholder="Please enter your first name" maxlength="50" required/>
            </div>
            <div class="row">
                <label for="last_name">Last name:</label>
                <input id="last_name" name="last_name" type="text" placeholder="Please enter your last name" maxlength="50" required/>
            </div>
            <div class="row">
                <label for="email">Email (username):</label>
                <input id="email" name="email" type="email" placeholder="Enter your email" required/>
            </div>
            <div class="row">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Please enter your preference password" size="30" maxlength="30" required/>
            </div>
            <div class="row">
                <label for="birth">Birth:</label>
                <input id="birth" name="birth" type="date" placeholder="Enter your birthdate" required/>
            </div>
            <div class="row">
                <label for="movile">Movile:</label>
                <input id="movile" name="movile" type="tel" placeholder="Enter your movile number" required/>
            </div>
            <div class="row">
                <label for="gender">Gender:</label>
                <div class="radio-group-item">
                    <div>
                        <input id="gender-male" name="gender" type="radio" value="1" checked />
                        <span>Male</span>
                    </div>
                    <div>
                        <input id="gender-female" name="gender" type="radio" value="0" />
                        <span>Female</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="Country">Country</label>
                <% include ../control/country %>
            </div>
            <div class="row">
                <label for="City">City</label>
                <input id="City" name="city" type="text" placeholder="Enter the name of your city" size="30" maxlength="30" required/>
            </div>
            <div class="row">
                <label for="postal_code">Postal Code:</label>
                <input id="postal_code" name="postal_code" type="text" placeholder="Enter your postal code" maxlength="15" required/>
            </div>
            <div class="row">
                <label for="accept_legal">Accept registration legal rules: </label>
                <input id="accept_legal" name="accept_legal" type="checkbox" value="1" required/><a id="display-rules" >Read here...</a>
            </div>

            <div id="waiting-register-response">
                <img src="/images/loading.gif"/>
            </div>
            <button id="register-user" type="submit">Register</button>
        </form>
    </div>
</section>