<section id="email-frame">
    <div class="title">
        <h1>Write Us</h1>
    </div>

    <div class="email-us-body">
        <div class="row">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="10" cols="40" maxlength=200 placeholder="Please leave a comment"></textarea>
        </div>
        <div class="row">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" placeholder="Please enter your email"></textarea>
        </div>
        <div class="row">
            <label for="name">Name:</label>
            <input id="name" name="name" type="name" placeholder="Enter your name"/>
        </div>

        <button id="send-us-email">Send</button>
    </div>
</section>

<div class="dark-wrap">
    <div class="wrap">
        <h2>Categories</h2>
        <div class="list cats-list">
            <div class="list-col">
                <ul>
                    <li><a href="/category/realism/">Realism</a></li>
                    <li><a href="/category/hyperrealism/">Hyperrealism</a></li>
                    <li><a href="/category/surrealism/">Surrealism</a></li>
                    <li><a href="/category/impressionism/">Impressionism</a></li>
                    <li><a href="/category/expressionism/">Expressionism</a></li>
                    <li><a href="/category/abstract-art/">Abstract art</a></li>
                    <li><a href="/category/pop-art/">Pop Art</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/cubism/">Cubism</a></li>
                    <li><a href="/category/portrait/">Portrait</a></li>
                    <li><a href="/category/gender-painting/">Gender painting</a></li>
                    <li><a href="/category/landscape/">Landscape</a></li>
                    <li><a href="/category/still-life/">Still life</a></li>
                    <li><a href="/category/naked/">Naked</a></li>
                    <li><a href="/category/historical-painting/">Historical Painting</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/oil/">Oil</a></li>
                    <li><a href="/category/wax/">Wax</a></li>
                    <li><a href="/category/watercolor/">Watercolor</a></li>
                    <li><a href="/category/tempera/">Tempera</a></li>
                    <li><a href="/category/acrylic/">Acrylic</a></li>
                    <li><a href="/category/pie/">Pie</a></li>
                    <li><a href="/category/quenching/">Quenching</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/ink/">Ink</a></li>
                    <li><a href="/category/cool/">Cool</a></li>
                    <li><a href="/category/grisalea/">Grisalea</a></li>
                    <li><a href="/category/pointillism/">Pointillism</a></li>
                    <li><a href="/category/dripping/">Dripping</a></li>
                    <li><a href="/category/grafitti/">Grafitti</a></li>
                    <li><a href="/category/mixed-media/">Mixed media</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/on-wooden-board/">On wooden board</a></li>
                    <li><a href="/category/on-canvas/">On canvas</a></li>
                    <li><a href="/category/in-copper/">In copper</a></li>
                    <li><a href="/category/in-glass/">In glass</a></li>
                    <li><a href="/category/on-paper/">On paper</a></li>
                    <li><a href="/category/sculpture/">Sculpture</a></li>
                    <li><a href="/category/abstract-sculpture/">Abstract sculpture</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/relief/">Relief</a></li>
                    <li><a href="/category/color-relief/">Color relief</a></li>
                    <li><a href="/category/glass-relief/">Glass relief</a></li>
                    <li><a href="/category/contemporary/">Contemporary</a></li>
                    <li><a href="/category/round-bulk-statue/">Round Bulk Statue</a></li>
                    <li><a href="/category/low-relief/">Low relief</a></li>
                    <li><a href="/category/bust/">Bust</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/torso/">Torso</a></li>
                    <li><a href="/category/kinetic-sculpture/">Kinetic sculpture</a></li>
                    <li><a href="/category/chryselephantine/">Chryselephantine</a></li>
                    <li><a href="/category/architectural-sculpture/">Architectural sculpture</a></li>
                    <li><a href="/category/clay-sculpture/">Clay sculpture</a></li>
                    <li><a href="/category/stone-sculpture/">Stone sculpture</a></li>
                    <li><a href="/category/stucco-sculpture/">Stucco sculpture</a></li>
                </ul>
            </div>
            <div class="list-col">
                <ul>
                    <li><a href="/category/metal-sculpture/">Metal sculpture</a></li>
                    <li><a href="/category/wood-sculpture/">Wood sculpture</a></li>
                    <li><a href="/category/ivory-Sculpture/">Ivory Sculpture</a></li>
                    <li><a href="/category/concrete-sculpture/">Concrete sculpture</a></li>
                    <li><a href="/category/emptying/">Emptying</a></li>
                    <li><a href="/category/removing/">Removing</a></li>
                    <li><a href="/category/adding/">Adding</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
