<section id="email-frame">
    <div class="title">
        <h1>Write Us</h1>
    </div>

    <div class="email-us-body">
        <div class="row">
            <label for="msg-description">Description:</label>
            <textarea id="msg-description" name="description" rows="10" cols="40" maxlength=200 placeholder="Please leave a comment"></textarea>
        </div>
        <div class="row">
            <label for="msg-email">Email:</label>
            <input id="msg-email" name="email" type="email" placeholder="Please enter your email"/>
        </div>
        <div class="row">
            <label for="msg-name">Name:</label>
            <input id="msg-name" name="name" type="name" placeholder="Enter your name"/>
        </div>
        <div id="waiting-email-response">
            <img src="/images/loading.gif"/>
        </div>
        <button id="send-us-email">Send</button>
    </div>
</section>