<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <% include ./partials/css/password-change %>
</head>
<body>
    <header>
        <% include ./partials/header-unregister %>
    </header>
    <% if (global.options.SHOW_BANNER) { %>
        <div id="banner" class="banner-write"></div>
    <% } %>

    <% include ./partials/social %>

    <article class="body-content">
        <% include ./bodys/change-password-form %>
    </article>

    <% include ./partials/footer-unregister %>

    <% include ./partials/svg %>

    <script type="text/javascript" src="/javascripts/search.js"></script>
    <script type="text/javascript" src="/javascripts/login-request.js"></script>
    <script type="text/javascript" src="/javascripts/password-change.js"></script>

</body>
</html>