<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <% include ./partials/css/main %>
</head>
<body>
    <header>
        <% include ./partials/header %>
    </header>

    <% include ./partials/frames %>

    <% include ./partials/social %>

    <article class="body-content">
        <% include ./bodys/main %>
    </article>

    <% include ./partials/footer %>

    <% include ./partials/svg %>

    <% include ./partials/scripts %>

</body>
</html>