<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <% include ./partials/css/register %>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <header>
        <% include ./partials/header-unregister %>
    </header>
    <% if (global.options.SHOW_BANNER) { %>
        <div id="banner" class="banner-write"></div>
    <% } %>

    <% include ./partials/social %>

    <% include ./partials/frame-legal %>

    <article class="body-content">
        <% include ./bodys/register-form %>
    </article>

    <% include ./partials/footer-unregister %>

    <% include ./partials/svg %>

    <script type="text/javascript" src="http://localhost:2000/js/dialog/foggy.js"></script>
    <script type="text/javascript" src="http://localhost:2000/js/dialog/frame.js"></script>
    <script type="text/javascript" src="/javascripts/search.js"></script>
    <script type="text/javascript" src="/javascripts/register.js"></script>
    <script type="text/javascript" src="/javascripts/legal.js"></script>
</body>
</html>