<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <% include ./partials/css/register %>
</head>
<body>
    <header>
        <% include ./partials/header-unregister %>
    </header>
    <div id="banner" class="banner-write"></div>

    <% include ./partials/social %>

    <article class="body-content">
        <% include ./bodys/register-form %>
    </article>

    <% include ./partials/footer-unregister %>

    <% include ./partials/svg %>

    <script type="text/javascript" src="/javascripts/search.js"></script>
    <script type="text/javascript" src="/javascripts/requests.js"></script>
    <script type="text/javascript" src="/javascripts/register.js"></script>
</body>
</html>