<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <% include ./partials/css/write-us %>
</head>
<body>
    <header>
        <% if (currentUser.userExtId) { %>
            <% include ./partials/header %>
        <% } else { %>
            <% include ./partials/header-unregister %>
        <% } %>
    </header>
    <div id="banner" class="banner-write"></div>

    <% if (currentUser.userExtId) { %>
        <% include ./partials/frames %>
        <% include ./partials/frame-logout %>
    <% } %>

    <% include ./partials/social %>

    <article class="body-content">
        <% include ./bodys/write-us %>
    </article>

    <article class="body-content">
        <% include ./partials/categories %>
    </article>

    <% if (currentUser.userExtId) { %>
        <% include ./partials/footer %>
    <% } else { %>
        <% include ./partials/footer-unregister %>
    <% } %>

    <% include ./partials/svg %>
    <script type="text/javascript" src="http://localhost:2000/js/dialog/foggy.js"></script>
    <script type="text/javascript" src="http://localhost:2000/js/dialog/frame.js"></script>
    <script type="text/javascript" src="/javascripts/search.js"></script>
    <script type="text/javascript" src="/javascripts/email.js"></script>

    <% if (currentUser.userExtId) { %>
        <script type="text/javascript" src="/javascripts/events-purchase.js"></script>
        <script type="text/javascript" src="/javascripts/logged-in-features.js"></script>
        <script type="text/javascript" src="/javascripts/logout.js"></script>
    <% } %>
</body>
</html>