<article id="form-admin">
    <div class="table-admin">
        <div class="table-header head-categories"><%= tableTitle %></div>
        
        <table cellspacing="0">
            <tr>
                <th>Id</th>
                <th>Path Code</th>
                <th>Category Name</th>
            </tr>

            <% for (let index = 0; index < data.length; index++) { %>
                <tr>
                    <td><%= data[index].id %></td>
                    <td><%= data[index].path %></td>
                    <td><%= data[index].name %></td>
                </tr>
            <% } %>

        </table>
    </div>
</article>