<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head %>
<body>
    <% include ./partials/header %>
    <% include ./partials/dialogs %>
    <div class="content">
        <% include ./partials/menu-vertical %>
        <section id="contents-body">
            <% include ./partials/content-head %>
            <% include ./partials/tables/admin %>
        </section>
    </div>
    <% include ./partials/footer %>
    <% include ./partials/svg %>

    <% include ./partials/scripts %>
    <script src="/javascripts/event-admin-table.js"></script>
</body>
</html>