<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head %>
<body>
    <% include ./partials/header %>
    <% include ./partials/dialogs %>
    <div class="content">
        <% include ./partials/menu-vertical %>
        <section id="contents-body">
            <% include ./partials/content-head %>
            <% include ./partials/forms/category-form %>
        </section>  
    </div>
    <% include ./partials/footer %>
    <% include ./partials/svg %>

    <% include ./partials/scripts %>
    <script src="/javascripts/category-type-filter.js"></script>
    <script src="/javascripts/event-category-form.js"></script>
</body>
</html>