<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav id="movile">
            <ul>
                <li class="menu-item">
                  <div class="burguer-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                  </div>
                </li>
            </div>
        </nav>
        <nav id="left">
            <ul>
                <li class="item">Home</li>
                <li class="item">Menu</li>
                <li class="item">Documents</li>
                <li class="item">Search</li>
            </ul>
        </nav>
        <nav id="right">
            <ul class="icons-menu">
                <li class="icon-item"><i class="fa fa-user"></i></li>
                <li class="icon-item"><i class="fa fa-envelope-open"></i><div id="unread-messages-count">3</div></li>
                <li class="icon-item"><i class="fa fa-cogs"></i></li>
                <li class="icon-item"><i class="fas fa-sign-out-alt"></i></li>
            </div>
        </nav>
    </header>
    <div class="content">
        <aside>
            <div class="block" id="users">
                <a href="#">
                    <i class="fas fa-users fa-3x"></i>
                    <span>Users</span>
                </a>
            </div>
            <div class="sidebar-menu" id="sidebar-users">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>Admin</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>User</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block" id="pieces">
                <a href="#">
                    <i class="fas fa-palette fa-3x"></i>
                    <span>Pieces</span>
                </a>
            </div>
            <div class="sidebar-menu" id="sidebar-pieces">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>List</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>New</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block" id="cart">
                <a href="#">
                    <i class="fas fa-shopping-cart fa-3x"></i>
                    <span>Cart</span>
                </a>
            </div>
            <div class="sidebar-menu" id="sidebar-cart">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>List</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>Fix</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="block" id="category">
                <a href="#">
                    <i class="fas fa-atlas fa-3x"></i>
                    <span>Categories</span>
                </a>
            </div>
            <div class="sidebar-menu" id="sidebar-category">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>Add</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>Update</span>
                        </a>
                        <a href="#">
                            <i class="fas fa-atlas"></i>
                            <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <section>
            <h2>Title</h2>
            <article>
                <p>This explains the current option</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, labore.</p>
            </article>
            <article>
                <table style="width:100%">
                    <tr>
                        <th>FIRST NAME</th>
                        <th>LAST NAME</th>
                        <th>EMAIL</th>
                        <th>ADDRESS</th>
                        <th>MOVILE</th>
                        <th>AGE</th>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>Smith</td>
                        <td>test1@stand.go</td>
                        <td>colombia #443</td>
                        <td>(592) 456 - 58142</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Eve</td>
                        <td>Jackson</td>
                        <td>test2@stand.go</td>
                        <td>colombia #443</td>
                        <td>(592) 456 - 58142</td>
                        <td>74</td>
                    </tr>
                    <tr>
                        <td>Roger</td>
                        <td>Smith</td>
                        <td>test3@stand.go</td>
                        <td>colombia #44</td>
                        <td>(592) 456 - 58142</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Miguel</td>
                        <td>Aranda</td>
                        <td>test4@stand.go</td>
                        <td>colombia #3</td>
                        <td>(592) 456 - 58142</td>
                        <td>94</td>
                    </tr>
                    <tr>
                        <td>Jhonny</td>
                        <td>Gomez</td>
                        <td>test5@stand.go</td>
                        <td>colombia #31</td>
                        <td>(592) 456 - 58142</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Zoe</td>
                        <td>Smith</td>
                        <td>test6@stand.go</td>
                        <td>Saucedos #3</td>
                        <td>(592) 456 - 58142</td>
                        <td>94</td>
                    </tr>
                    <tr>
                        <td>Jason</td>
                        <td>Standgreen</td>
                        <td>test7@stand.go</td>
                        <td>colombia #43</td>
                        <td>(592) 456 - 58142</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Elle</td>
                        <td>Daemon</td>
                        <td>test8@stand.go</td>
                        <td>colombia #99</td>
                        <td>(592) 456 - 58142</td>
                        <td>94</td>
                    </tr>
                </table>
            </article>
            <article>
                <p>Results message...</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque qui tempora laudantium.</p>
                <p>Fugit, consequuntur recusandae maiores esse sequi dolorum ea distinctio velit sed quos.</p>
                <p>Quia optio assumenda et est deleniti dolorem culpa expedita consequuntur, a aliquid.</p>
            </article>
        </section>
    </div>
    <footer>
      <p id="stack-top-message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex.</p>
    </footer>
</body>
</html>