<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head %>
<body>
    <% include ./partials/header %>
    <% include ./partials/dialogs %>
    <div class="content">
        <% include ./partials/menu-vertical %>
        <% include ./partials/contents %>
    </div>
    <% include ./partials/footer %>
    <% include ./partials/svg %>

    <script src="javascripts/dialog/foggy.js"></script>
    <script src="javascripts/dialog/frame.js"></script>
    <script src="javascripts/events.js"></script>
</body>
</html>