<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head %>
<body>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <% include ./partials/forms/login-form %>
</body>
</html>