<!DOCTYPE html>
<html lang="en">
    <% include ./partials/tables/head-trade %>
<body>
    <% include ./partials/header %>
    <% include ./partials/dialogs %>
    <div class="content">
        <% include ./partials/menu-vertical %>
        <% include ./partials/tables/trade %>
    </div>
    <% include ./partials/footer %>
    <% include ./partials/svg %>

    <% include ./partials/scripts %>
</body>
</html>