<!DOCTYPE html>
<html lang="en">
    <% include ./partials/head %>
<body>
    <script src="/javascripts/event-users-form.js"></script>
    <% include ./partials/header %>
    <% include ./partials/dialogs %>
    <div class="content">
        <% include ./partials/menu-vertical %>
        <section id="contents-body">
            <% include ./partials/content-head %>
            <% include ./partials/forms/user-form %>
        </section>    
    </div>
    <% include ./partials/footer %>
    <% include ./partials/svg %>

    <% include ./partials/scripts %>
</body>
</html>