<div class="editcard category-card">
    <div class="editcard-body">
        <div class="editcard-title"><%= titleForm%></div>
        <form>
            <div class="rowform">
                <label for="category-path">Path</label>
                <input id="category-path" type="text" placeholder="Enter path"/>
            </div>
            <div class="rowform">
                <label for="category-name">Name</label>
                <input id="category-name" type="text" placeholder="Enter the name"/>
            </div>
            <button class="done_button" type="submit">Save</button>
        </form>
    </div>
</div>