<div class="editcard piece-card">
    <div class="editcard-body">
        <div class="editcard-title"><%= titleForm%></div>
        <form>
            <div class="rowform">
                <label for="piece-thumb">Thumb</label>
                <input id="piece-thumb" type="file" placeholder="Enter path"/>
            </div>
            <div class="rowform">
                <label for="piece-name">Name</label>
                <input id="piece-name" type="text" placeholder="Enter the name"/>
            </div>
            <div class="rowform">
                <label for="piece-artist">Artist</label>
                <input id="piece-artist" type="text" placeholder="Enter the artist name"/>
            </div>
            <div class="rowform">
                <label for="piece-type">Type</label>
                <input id="piece-type" type="text" placeholder="Enter the type of the piece"/>
            </div>
            <div class="rowform">
                <label for="piece-released">Released</label>
                <input id="piece-released" type="text" placeholder="Enter the released date"/>
            </div>
            <div class="rowform">
                <label for="piece-size">Size</label>
                <input id="piece-size" type="text" placeholder="Enter the size"/>
            </div>
            <div class="rowform">
                <label for="piece-price">Price</label>
                <input id="piece-price" type="text" placeholder="Enter the price"/>
            </div>
            <div class="rowform">
                <label for="piece-currency">Currency</label>
                <input id="piece-currency" type="text" placeholder="Enter reuiere currency"/>
            </div>
            <button class="done_button" type="submit">Save</button>
        </form>
    </div>
</div>