<div class="editcard trading-card">
    <div class="editcard-body">
        <div class="editcard-title"><%= titleForm%></div>
        <div id="my_dataviz"></div>
        <script src="../../../javascripts/statistics.js"></script>
    </div>
</div>