<style>
    .editcard {
        width: 500px!important;
    }
</style>
<div class="editcard">
    <div class="editcard-body">
        <div class="editcard-title"><%= titleForm%></div>
        <div id="my_dataviz"></div>
        <script src="../../../javascripts/statistics.js"></script>
    </div>
</div>